<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-inner text-center">
                    <div class="social-links">
                        <a class="facebook social-link" data-placement=
                        "top" data-toggle="tooltip" href="#" title=
                           "Facebook"><i class="fa fa-facebook"></i></a>
                        <a class="google-plus social-link" data-placement=
                        "top" data-toggle="tooltip" href="#" title=
                           "Google+"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <div class="copyright">
                        <p>Copyright © 2016 IntimateBlog. Designed and Developed by
                            <a href="http://graygrids.com/">GrayGrids</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>