<div class="sidebar">
    {{ getSidebar("right-sidebar") | async | safe }}

    {#<div class="entry-widget">#}
        {#<h5 class="widget-title">Archive</h5>#}
        {#<ul class="archivee">#}
            {#<li>#}
                {#<a href="#"><i class=#}
                               {#"ico-keyboard_arrow_right"></i> October#}
                    {#(2015)</a>#}
            {#</li>#}
            {#<li>#}
                {#<a href="#"><i class=#}
                               {#"ico-keyboard_arrow_right"></i> September#}
                    {#(2015)</a>#}
            {#</li>#}
            {#<li>#}
                {#<a href="#"><i class=#}
                               {#"ico-keyboard_arrow_right"></i> June#}
                    {#(2015)</a>#}
            {#</li>#}
            {#<li>#}
                {#<a href="#"><i class=#}
                               {#"ico-keyboard_arrow_right"></i> May#}
                    {#(2015)</a>#}
            {#</li>#}
            {#<li>#}
                {#<a href="#"><i class=#}
                               {#"ico-keyboard_arrow_right"></i> April#}
                    {#(2015)</a>#}
            {#</li>#}
            {#<li>#}
                {#<a href="#"><i class=#}
                               {#"ico-keyboard_arrow_right"></i>#}
                    {#Marvh(2015)</a>#}
            {#</li>#}
        {#</ul>#}
    {#</div>#}

    {#<div class="entry-widget">#}
        {#<h5 class="widget-title">Meta</h5>#}
        {#<ul class="meta-list">#}
            {#<li>#}
                {#<a href="#"><i class=#}
                               {#"ico-keyboard_arrow_right"></i> Log In</a>#}
            {#</li>#}
            {#<li>#}
                {#<a href="#"><i class=#}
                               {#"ico-keyboard_arrow_right"></i> Entries#}
                    {#RSS</a>#}
            {#</li>#}
            {#<li>#}
                {#<a href="#"><i class=#}
                               {#"ico-keyboard_arrow_right"></i> Comments#}
                    {#RSS</a>#}
            {#</li>#}
            {#<li>#}
                {#<a href="#"><i class=#}
                               {#"ico-keyboard_arrow_right"></i>#}
                    {#WordPress.org</a>#}
            {#</li>#}
        {#</ul>#}
    {#</div>#}
</div>